@import "../main.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.App {
    font-family: "Raleway";
    font-weight: 400;

    .container {
        max-width: 113.6rem;
        margin: 0 auto;
    }
}
