@import "../main.scss";
.doer-card {
    border-radius: 16px;
    border: 1px solid $black;
    width: 44.8rem;
    height: 21.6rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.6rem;
        font-weight: 700;
        padding: 1.6rem;
        button {
            padding: 0;
        }
    }

    &__middle {
        padding: 0 1.6rem 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        div {
            display: flex;
            justify-content: space-between;
            span:nth-child(2) {
                font-family: "NunitoSans";
                font-weight: 500;
            }
        }
    }

    &__bottom {
        background-color: $grey;
        height: 7.4rem;
        padding: 1.6rem;
        display: flex;
        justify-content: right;
    }

    &__contact {
        padding: 0.8rem 1.6rem;
        background-color: $secondary;
        border-radius: 0.8rem;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.6);
        text-decoration: none;
        font-weight: 500;
        color: $black;
    }
}
